/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #8a5cc1;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  max-width: 400px;
}

.logo img {
  max-width: 200px;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}

p {
  color: #555;
}

/* Estilos para el formulario y campos de entrada */
form {
  text-align: left;
}

.input-container {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 380px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Tamaño de fuente ajustable */
}

/* Estilos para botones */
/* Estilos para los botones */
button {
  display: block; /* Hace que los botones sean bloques (uno debajo del otro) */
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  background-color: #AA75F0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #8a5cc1;
}

