header {
  background-color: #AA75F0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 130px;
}

.search input {
  padding: 5px;
  margin-right: 10px;
}

.cart-icon, .login, .register {
  cursor: pointer;
  margin-left: 10px;
  text-decoration: none;
}

/*Section 2*/
.hero {
  text-align: center;
}

.hero img {
  max-width: 100%;
}

.thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnails img {
  cursor: pointer;
  width: 150px;
  height: 150px;
  margin: 10px 10px;
  transition: transform 0.2s;
}

.thumbnails img:hover {
  transform: scale(1.1);
}

/*Section 3*/
.product-description {
  margin: auto;
  max-width: 50%;
  text-align: center;
  margin-top: 20px;
}

.product-description h2 {
  font-size: 24px;
}

.product-description button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/*Section 3*/
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 24px;
}

.contact-info div {
  margin: 10px 0;
}

.copyright {
  font-size: 12px;
}

